agentes_framework/examples/n8n/http-agent-execution.json
{
  "name": "Agent Framework - HTTP Agent Execution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:3000/api/agents/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"configPath\": \"examples/agents/basic-agent.yaml\",\n  \"task\": \"{{ $json.task }}\",\n  \"options\": {\n    \"streaming\": false,\n    \"timeout\": 60000\n  }\n}"
      },
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 300],
      "id": "agent-execute"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "=http://localhost:3000/api/agents/status/{{ $json.executionId }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 300],
      "id": "status-check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Status Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300],
      "id": "if-completed"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "=http://localhost:3000/api/agents/results/{{ $json.executionId }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 200],
      "id": "get-results"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [980, 400],
      "id": "wait-retry"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    task: \"Research the latest developments in AI agents and summarize the key findings\",\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 300],
      "id": "input-data"
    }
  ],
  "connections": {
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Data": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "agent-framework-example"
  },
  "tags": [
    {
      "createdAt": "2025-01-24T00:00:00.000Z",
      "updatedAt": "2025-01-24T00:00:00.000Z",
      "id": "agent-framework",
      "name": "Agent Framework"
    }
  ]
}